.Header {
    display:flex; 
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 100px; 
}
.nav-item {
   padding: 0px 20px; 
}
.nav-item > ul {
    font-size: 24px;
   display: flex; 
}
 .nav-item > ul > li {
    padding: 10px ;
    margin: 10px;
 }
 .res-card{ 
    padding: 5px;
    margin: 5px;
    width: 200px ;
    height: 350px ; 
    background-color: rgb(245, 241, 226);
 }

 .res-card:hover{
    cursor: pointer;
     border: 1px solid black;
 }
 .search-bar{
    padding : 10px;
 }
 .res-logo{
    width: 190px;
    height: 150px;
    padding : 7px;
 }
 .res-Container{
    display: flex;
    flex-wrap:wrap;  
 }