.Header {
    display:flex; 
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 100px; 
}
.nav-item {
   padding: 0px 20px; 
}
.nav-item > ul {
    font-size: 15px;
   display: flex; 
}
 .nav-item > ul > li {
    padding: 10px ;
    margin: 10px;
 }
 .res-card{ 
    padding: 5px;
    margin: 5px;
    width: 200px ;
    height: 400px ; 
    background-color: rgb(245, 241, 226);
 }

 .res-card:hover{
    cursor: pointer;
     border: 1px solid black;
 }
 .filter{
    padding : 10px;
    display:flex;
 }
 .res-logo{
    width: 190px;
    height: 150px;
    padding : 7px;
 }
 .res-Container{
    display: flex;
    flex-wrap:wrap;  
 }
   .shimmer-container{
      display: flex;
      flex-wrap:wrap;  
   }
   .shimmer-card{
      width: 200;
      height: 300;
      padding: 5px;
      margin: 5px ;
      background-color: #f0f0f0;

   }
   .login-btn{
      padding: 0 10px;
      cursor: pointer;

   }
   .search{
      margin: 5px;
      padding : 1px;
   }
   
   .user-card{
      padding: 10px;
      border: 1px solid black;
   }